@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=PT+Serif:ital@0;1&family=Playfair+Display:wght@500;600;700&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
